<h1>{{plainProduct.title}}</h1>

<section class="containerProducts">
    <div class="product">
        <div>
            <strong>Id:</strong>
            {{plainProduct._id}}
        </div>
        <div>
            <strong>Título:</strong>
            {{plainProduct.title}}
        </div>
        <div>
            <strong>Descripción:</strong>
            {{plainProduct.description}}
        </div>
        <div>
            <strong>Precio:</strong>
            {{plainProduct.price}}
        </div>
        <div>
            <strong>Código:</strong>
            {{plainProduct.code}}
        </div>
        <div>
            <strong>Stock:</strong>
            {{plainProduct.stock}}
        </div>
        <div>
            <strong>Categoria:</strong>
            {{plainProduct.category}}
        </div>
        <div>
            <strong>Status:</strong>
            {{plainProduct.status}}
        </div>
        <a href="#" class="addButton"><button>Agregar al carrito</button></a>
    </div>
</section>